.todo-section {
    position: relative;
    height: 100vh;
    background-color:  var(--backgroundPrimary);
}

.app {
    &--light {
        background-color: var(--backgroundPrimary);
        color: var(--colorSecondary);
    }
    &--dark {
        background-color: var(--btnBg);
        color: var(--colorPrimary);
        .todo-btn {
            & svg {
                color: black;
            }
        }
        .todo__title {
            color: var(--colorSecondary);
        }
      }
    }
  

.todo-btn {
    position: absolute;
    right: 21px;
    top: 16px;
    background: none;
    border: none;
    & svg {
        width: 30px;
        height: 30px;
    }
}